:root {
  --textocolor: rgb(187, 213, 186);
  --hovertextocolor: rgb(193, 116, 78);
  --hovertextocolor2: rgb(193, 78, 78);
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/

@font-face {
    font-family: 'Standford Regular';
    src: url('../fonts/standfordregular.ttf') format('truetype');
}

body {
    margin: auto;
    padding: 0;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #000000a6;
    background-image: url('../img/bosque2.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

header {
    width:  100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 95%;
    height:  50px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(34, 41, 28);
}

#banner {
    width: 100%;
    height:  100%;
    margin: 20px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0px 0px 15px 15px;
}


h1 {
    color: var(--textocolor);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', Standford Regular, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

a{
    color: var(--textocolor);
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a:hover{ 
    color: var(--hovertextocolor);
    text-decoration: none;
}

p{
    color: var(--textocolor);
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h2 {
    color: var(--textocolor);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', Standford Regular, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h3 {
    color: var(--textocolor);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h4{
    color: var(--textocolor);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

ol{
    color: var(--textocolor);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

table, th, td {
    color: var(--textocolor);
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

th {
    background-color: #444;
    color: #fff;
}

tr:nth-child(even) {
background-color: #454745;
}

tr {
background-color: #3c3f41;
}
