#banner {
    background-image:  url('../img/bannercabanadelmisterio.jpg');
    background-position: center;
}

#mysteryshackimg {
    border-radius: 15px;
}

h2 {
    margin-bottom: 0;
}

#panel-principal {
  background-color: rgba(0, 0, 0, 0.6);;
  border: 1px solid var(--textocolor);
  border-radius: 10px;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
}

.area img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.area img:active {
    transform: scale(3);
    transition: transform 0.3s ease;
}

#areas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.area {
    flex-direction: column;
    text-align: center;
    color: var(--textocolor);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}